openapi: 3.0.3
info:
  title: API Яндекс Маркета для продавцов
  description: 'API Яндекс Маркета помогает продавцам автоматизировать и упростить работу с маркетплейсом.


    В числе возможностей интеграции:


    * управление каталогом товаров и витриной,


    * обработка заказов,


    * изменение настроек магазина,


    * получение отчетов.

    '
  version: LATEST
  license:
    name: BSD 3-Clause
    url: https://opensource.org/license/bsd-3-clause/
servers:
- url: https://api.partner.market.yandex.ru
security:
- ApiKey: []
- OAuth:
  - market:partner-api
externalDocs:
  description: Документация API
  url: https://yandex.ru/dev/market/partner-api/doc/
paths:
  /v2/businesses/{businessId}/settings:
    post:
      x-resource-id: 218
      tags:
      - businesses
      - dbs
      - fbs
      - fby
      - express
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - settings-management
      - finance-and-accounting
      - offers-and-cards-management
      - offers-and-cards-management:read-only
      - pricing
      - pricing:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - promotion
      - promotion:read-only
      - communication
      - supplies-management:read-only
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 100
          period: hours
          period-duration: 1
        medium:
          amount: 100
          period: hours
          period-duration: 1
      x-apphost:
        domain: BASE
        enabled: false
      operationId: getBusinessSettings
      summary: Настройки кабинета
      description: '{% include notitle [access](../../_auto/method_scopes/getBusinessSettings.md) %}


        Возвращает информацию о настройках кабинета, идентификатор которого указан в запросе.


        {% include notitle [limit](../../_auto/method_limits/getBusinessSettings.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/BusinessId'
      responses:
        '200':
          description: Настройки кабинета.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessSettingsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns:
    get:
      x-resource-id: 1
      tags:
      - campaigns
      - dbs
      - express
      - fbs
      - fby
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - settings-management
      - finance-and-accounting
      - offers-and-cards-management
      - offers-and-cards-management:read-only
      - pricing
      - pricing:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - promotion
      - promotion:read-only
      - communication
      - supplies-management:read-only
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 1000
          period: hours
          period-duration: 1
        medium:
          amount: 1000
          period: hours
          period-duration: 1
      x-apphost:
        domain: BASE
        enabled: false
      operationId: getCampaigns
      summary: Список магазинов пользователя
      description: '{% include notitle [access](../../_auto/method_scopes/getCampaigns.md) %}


        **Для Api-Key-токена:** возвращает список магазинов в кабинете, для которого выдан токен. Нельзя получить список только
        подагентских магазинов.


        **Для OAuth-токена:** возвращает список магазинов, к которым имеет доступ пользователь — владелец токена авторизации,
        использованного в запросе. Для агентских пользователей список состоит из подагентских магазинов.


        {% note warning "Ограничение для параметра `pageSize`" %}


        Не передавайте значение больше 100.


        {% endnote %}


        {% include notitle [limit](../../_auto/method_limits/getCampaigns.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/AliasedPageToken'
      - $ref: '#/components/parameters/PageLimit100WithoutDefault'
      - $ref: '#/components/parameters/PageNum'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Магазины пользователя.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}:
    get:
      x-resource-id: 2
      tags:
      - campaigns
      - dbs
      - express
      - fbs
      - fby
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - settings-management
      - finance-and-accounting
      - offers-and-cards-management
      - offers-and-cards-management:read-only
      - pricing
      - pricing:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - promotion
      - promotion:read-only
      - communication
      - supplies-management:read-only
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 5000
          period: hours
          period-duration: 1
        medium:
          amount: 5000
          period: hours
          period-duration: 1
      x-apphost:
        domain: BASE
        enabled: false
      operationId: getCampaign
      summary: Информация о магазине
      description: '{% include notitle [access](../../_auto/method_scopes/getCampaign.md) %}


        Возвращает информацию о магазине.


        {% include notitle [limit](../../_auto/method_limits/getCampaign.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      responses:
        '200':
          description: Информация о магазине.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/settings:
    get:
      x-resource-id: 25
      tags:
      - campaigns
      - dbs
      - fbs
      - express
      - fby
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - settings-management
      - finance-and-accounting
      - offers-and-cards-management
      - offers-and-cards-management:read-only
      - pricing
      - pricing:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - promotion
      - promotion:read-only
      - communication
      - supplies-management:read-only
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 1000
          period: hours
          period-duration: 1
        medium:
          amount: 1000
          period: hours
          period-duration: 1
      x-apphost:
        domain: BASE
        enabled: false
      operationId: getCampaignSettings
      summary: Настройки магазина
      description: '{% include notitle [access](../../_auto/method_scopes/getCampaignSettings.md) %}


        Возвращает информацию о настройках магазина, идентификатор которого указан в запросе.


        {% include notitle [limit](../../_auto/method_limits/getCampaignSettings.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      responses:
        '200':
          description: Настройки магазина.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCampaignSettingsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}:
    get:
      x-resource-id: 28
      tags:
      - orders
      - fby
      - fbs
      - dbs
      - express
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - communication
      - finance-and-accounting
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        parallel-limit-value: 6
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      x-deprecation-config:
        degradation-start-date: '2027-01-18'
        shutdown-date: '2027-04-12'
        replacement-operation-id: getBusinessOrders
      operationId: getOrder
      summary: Информация об одном заказе в магазине
      description: '{% include notitle [access](../../_auto/method_scopes/getOrder.md) %}


        Возвращает информацию о заказе в магазине.


        {% note tip "Вы также можете настроить API-уведомления" %}


        Маркет отправит вам [запрос](../../push-notifications/reference/sendNotification.md), когда появится новый заказ или
        изменится его статус. А полную информацию можно получить с помощью метода [POST v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md).


        [{#T}](../../push-notifications/index.md)


        {% endnote %}


        Получить более подробную информацию о покупателе и его номере телефона можно с помощью запроса [GET v2/campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/order-delivery/getOrderBuyerInfo.md).


        {% include notitle [limit](../../_auto/method_limits/getOrder.md) %}

        '
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Информация о заказе.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders:
    get:
      x-resource-id: 27
      tags:
      - orders
      - fbs
      - dbs
      - fby
      - express
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - communication
      - finance-and-accounting
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        parallel-limit-value: 6
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      x-deprecation-config:
        degradation-start-date: '2027-01-18'
        shutdown-date: '2027-04-12'
        replacement-operation-id: getBusinessOrders
      operationId: getOrders
      summary: Информация о заказах в магазине
      description: '{% include notitle [access](../../_auto/method_scopes/getOrders.md) %}


        Возвращает информацию о заказах в магазине. Запрос можно использовать для отслеживания заказов и их статусов.


        По умолчанию данные о тестовых заказах не приходят. Чтобы их получить, передайте значение `true` в параметре `fake`.


        {% note tip "Вы также можете настроить API-уведомления" %}


        Маркет отправит вам [запрос](../../push-notifications/reference/sendNotification.md), когда появится новый заказ или
        изменится его статус. А полную информацию можно получить с помощью метода [POST v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md).


        [{#T}](../../push-notifications/index.md)


        {% endnote %}


        Доступна фильтрация по параметрам:


        * дата оформления заказа;


        * дата и время обновления заказа;


        * дата отгрузки;


        * статусы заказов (`statuses`);


        * этапы обработки или причины отмены (`substatuses`);


        * идентификаторы заказов;


        * тип заказа (настоящий или тестовый).


        Не возвращается информация о заказах, которые доставили или отменили больше 30 дней назад. Как ее получить:


        * [POST v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md);

        * [POST v2/campaigns/{campaignId}/stats/orders](../../reference/orders-stats/getOrdersStats.md).


        Максимальный диапазон дат за один запрос — 30 дней (передается в параметрах `fromDate` и `toDate`). Если их не передать,
        возвращается информация за последние 30 дней.


        Результаты возвращаются постранично. Для навигации используйте параметры `pageToken` и `limit`.


        Получить более подробную информацию о покупателе и его номере телефона можно с помощью запроса [GET v2/campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/order-delivery/getOrderBuyerInfo.md).


        {% include notitle [limit](../../_auto/method_limits/getOrders.md) %}

        '
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/GetOrdersOrderIds'
      - $ref: '#/components/parameters/GetOrdersStatus'
      - $ref: '#/components/parameters/GetOrdersSubstatus'
      - $ref: '#/components/parameters/GetOrdersFromDate'
      - $ref: '#/components/parameters/GetOrdersToDate'
      - $ref: '#/components/parameters/GetOrdersSupplierShipmentDateFrom'
      - $ref: '#/components/parameters/GetOrdersSupplierShipmentDateTo'
      - $ref: '#/components/parameters/GetOrdersUpdatedAtFrom'
      - $ref: '#/components/parameters/GetOrdersUpdatedAtTo'
      - $ref: '#/components/parameters/GetOrdersDispatchType'
      - $ref: '#/components/parameters/GetOrdersFake'
      - $ref: '#/components/parameters/GetOrdersHasCis'
      - $ref: '#/components/parameters/GetOrdersOnlyWaitingForCancellationApprove'
      - $ref: '#/components/parameters/GetOrdersOnlyEstimatedDelivery'
      - $ref: '#/components/parameters/GetOrdersBuyerType'
      - $ref: '#/components/parameters/PageNum'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/AliasedPageToken'
      - $ref: '#/components/parameters/PageLimit50TruncateWithoutDefault'
      responses:
        '200':
          description: Информация о заказах.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
        '400':
          description: 'Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v1/businesses/{businessId}/orders:
    post:
      x-resource-id: 283
      tags:
      - orders
      - fbs
      - dbs
      - fby
      - express
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      - finance-and-accounting
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        parallel-limit-value: 6
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: getBusinessOrders
      summary: Информация о заказах в кабинете
      description: '{% include notitle [access](../../_auto/method_scopes/getBusinessOrders.md) %}


        Возвращает информацию о заказах в кабинете. Запрос можно использовать для отслеживания заказов и их статусов.


        {% note tip "Вы также можете настроить API-уведомления" %}


        Маркет отправит вам [запрос](../../push-notifications/reference/sendNotification.md), когда появится новый заказ или
        изменится его статус. А полную информацию можно получить с помощью этого метода.


        [{#T}](../../push-notifications/index.md)


        {% endnote %}


        Доступна фильтрация по параметрам:


        * дата оформления заказа;


        * дата и время обновления заказа;


        * дата отгрузки;


        * статусы заказов (`statuses`);


        * этапы обработки или причины отмены (`substatuses`);


        * идентификаторы кампаний;


        * идентификаторы заказов;


        * внешние идентификаторы заказов;


        * тип заказа (настоящий или тестовый);


        * модели размещения;


        * наличие запросов от покупателей на отмену заказа.


        Максимальный диапазон дат за один запрос — 30 дней (передается в параметрах `fromDate` и `toDate`). Если их не передать,
        возвращается информация за последние 30 дней.


        Результаты возвращаются постранично. Для навигации используйте параметры `pageToken` и `limit`.


        Получить более подробную информацию о покупателе и его номере телефона можно с помощью запроса [GET v2/campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/order-delivery/getOrderBuyerInfo.md).


        {% include notitle [limit](../../_auto/method_limits/getBusinessOrders.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/BusinessId'
      - $ref: '#/components/parameters/AliasedPageToken'
      - $ref: '#/components/parameters/PageLimit50Truncate'
      requestBody:
        description: Параметры фильтрации заказов.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetBusinessOrdersRequest'
      responses:
        '200':
          description: Список заказов в кабинете.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessOrdersResponse'
        '400':
          $ref: '#/components/responses/400Orders'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/identifiers:
    put:
      x-resource-id: 179
      tags:
      - orders
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: provideOrderItemIdentifiers
      summary: Передача кодов маркировки единиц товара
      description: '{% include notitle [access](../../_auto/method_scopes/provideOrderItemIdentifiers.md) %}


        {% note warning "Если вы работаете по модели FBS" %}


        Используйте метод [PUT v2/campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md).


        {% endnote %}


        Передает Маркету коды маркировки для единиц товара в указанном заказе. Подробнее о работе с маркируемыми товарами
        читайте в [Справке продавца на Маркете](https://yandex.ru/support/marketplace/orders/cz.html).


        Маркировка товаров в системе [«Честный ЗНАК»](https://честныйзнак.рф/) **необязательна** для заказов от физических
        лиц, но **обязательна** для заказов от бизнеса.


        Для модели DBS коды маркировки в системе [«Честный ЗНАК»](https://честныйзнак.рф/) не проверяются в ГИС МТ — проверка
        выполняется только для моделей FBS и Экспресс.


        Принимаются коды следующих типов:


        * Коды в системе [«Честный ЗНАК»](https://честныйзнак.рф/) или [«ASL BELGISI»](https://aslbelgisi.uz) (для продавцов
        :no-translate[Market Yandex Go]).

        * УИН для ювелирных изделий.

        * РНПТ и ГТД для импортных прослеживаемых товаров.


        Для каждой позиции в заказе, требующей маркировки, нужно передать список кодов — по одному для каждой единицы товара.
        Например, если в заказе две пары тапочек и одна пара туфель, получится список из двух кодов для первой позиции и список
        из одного кода для второй.


        {% include notitle [limit](../../_auto/method_limits/provideOrderItemIdentifiers.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvideOrderItemIdentifiersRequest'
      responses:
        '200':
          description: Ответ `200` обозначает, что коды успешно записались. Ответ содержит краткие сведения о промаркированных
            товарах.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvideOrderItemIdentifiersResponse'
        '400':
          description: 'Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/items:
    put:
      x-resource-id: 57
      tags:
      - orders
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        parallel-limit-value: 6
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: updateOrderItems
      summary: Удаление товаров из заказа или уменьшение их числа
      description: "{% include notitle [access](../../_auto/method_scopes/updateOrderItems.md) %}\n\n{% note warning \"Если\
        \ вы работаете по модели FBS\" %}\n\nИспользуйте метод [PUT v2/campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md).\n\
        \n{% endnote %}\n\nУдаляет один или несколько товаров из заказа, если магазин не может поставить их все.\n\nЗаказ\
        \ должен находится в статусе `\"status\": \"PROCESSING\"` этапа обработки `\"substatus\": \"STARTED\"`. Изменить состав\
        \ нельзя после передачи статуса `\"substatus\": \"READY_TO_SHIP\"`.\n\n{% cut \"Уменьшить количество одинаковых товаров\"\
        \ %}\n\nПередайте обновленное значение в параметре `count`.\n\n{% endcut %}\n\n{% cut \"Удалить товар из заказа\"\
        \ %}\n\nПередайте значение `0` в параметре `count` или не передавайте `item`.\n\n{% endcut %}\n\nНельзя удалить или\
        \ уменьшить количество товара, если он:\n\n* добавлен по акции;\n* составляет 99% стоимости заказа;\n* единственный\
        \ товар в заказе.\n\nВ таком случае отмените заказ — в методе [PUT v2/campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md)\
        \ передайте статус заказа `CANCELLED` с причиной отмены `SHOP_FAILED`.\n\n### Как вернутся деньги {#money}\n\n  Если\
        \ покупатель оплатил товар при оформлении, Маркет вернет ему деньги за удаленные из заказа товары в течение двух дней:\n\
        \n  * при оплате банковской картой — с момента, когда магазин переведет заказ в статус `SHIPPED`;\n\n  * при оплате\
        \ через :no-translate[Apple Pay] или :no-translate[Google Pay] — с момента, когда магазин удалит товар из заказа.\n\
        \n{% endcut %}\n\n{% include notitle [limit](../../_auto/method_limits/updateOrderItems.md) %}\n"
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderItemRequest'
      responses:
        '200':
          description: Маркет успешно обработал ваш запрос. Выходные данные не ожидаются.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/status:
    put:
      x-resource-id: 30
      tags:
      - orders
      - fbs
      - dbs
      - laas
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: updateOrderStatus
      summary: Изменение статуса одного заказа
      description: '{% include notitle [access](../../_auto/method_scopes/updateOrderStatus.md) %}


        Изменяет статус заказа. Возможные изменения статусов:


        * Если магазин подтвердил и подготовил заказ к отправке, то заказ из статуса `"status": "PROCESSING"` и этапа обработки
        `"substatus": "STARTED"` нужно перевести в статус `"status": "PROCESSING"` и этап обработки `"substatus": "READY_TO_SHIP"`.

        * Если магазин подтвердил заказ, но не может его выполнить (например, товар числится в базе, но отсутствует на складе
        или нет нужного цвета), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно
        перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.

        * Если магазин подготовил заказ к отгрузке, но не может его выполнить (например, последний товар был поврежден или
        оказался с браком), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "READY_TO_SHIP"`
        нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.


        Полная информация о статусной модели DBS-заказов: [Как изменяются статусы заказов](../../concepts/dbs-order-status-model.md).


        {% cut "**Как подтвердить LaaS-заказ**" %}


        Для подтверждения черновика заказа передайте статус `"status": "PROCESSING"` с подстатусом `"substatus": "STARTED"`.


        Подтверждение заказа, созданного с параметром `draft` равным `false`, не требуется.


        {% endcut %}


        {% cut "**Как отменить LaaS-заказ**" %}


        Передайте статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.


        При успешном выполнении запроса отмена произойдет через некоторое время. [Как проверить статус операции](../../reference/operations/getOperations.md)


        {% endcut %}


        {% include notitle [limit](../../_auto/method_limits/updateOrderStatus.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStatusRequest'
      responses:
        '200':
          description: В случае успешного изменения статуса заказа возвращается обновленная информация о заказе.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderStatusResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/status-update:
    post:
      x-resource-id: 117
      tags:
      - orders
      - fbs
      - dbs
      - laas
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp.result.orders
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: updateOrderStatuses
      summary: Изменение статусов нескольких заказов
      description: '{% include notitle [access](../../_auto/method_scopes/updateOrderStatuses.md) %}


        Изменяет статусы нескольких заказов.


        Возможные изменения статусов:


        * Если магазин подтвердил и подготовил заказ к отправке, то заказ из статуса `"status": "PROCESSING"`и этапа обработки
        `"substatus": "STARTED"` нужно перевести в статус `"status": "PROCESSING"` и этап обработки `"substatus": "READY_TO_SHIP"`.

        * Если магазин подтвердил заказ, но не может его выполнить (например, товар числится в базе, но отсутствует на складе
        или нет нужного цвета), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "STARTED"` нужно
        перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.

        * Если магазин подготовил заказ к отгрузке, но не может его выполнить (например, последний товар был поврежден или
        оказался с браком), то заказ из статуса `"status": "PROCESSING"` и этапа обработки `"substatus": "READY_TO_SHIP"`
        нужно перевести в статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.


        Полная информация о статусной модели DBS-заказов: [Как изменяются статусы заказов](../../concepts/dbs-order-status-model.md).


        {% cut "**Как подтвердить LaaS-заказ**" %}


        Для подтверждения черновика заказа передайте статус `"status": "PROCESSING"` с подстатусом `"substatus": "STARTED"`.


        Подтверждение заказа, созданного с параметром `draft` равным `false`, не требуется.


        {% endcut %}


        {% cut "**Как отменить LaaS-заказ**" %}


        Передайте статус `"status": "CANCELLED"` с причиной отмены заказа `"substatus": "SHOP_FAILED"`.


        При успешном выполнении запроса отмена произойдет через некоторое время. [Как проверить статус операции](../../reference/operations/getOperations.md)


        {% endcut %}


        {% include notitle [limit](../../_auto/method_limits/updateOrderStatuses.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStatusesRequest'
      responses:
        '200':
          description: Возвращается информация об обновленных статусах заказов.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderStatusesResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes:
    put:
      x-resource-id: 107
      tags:
      - orders
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-apphost:
        domain: LOGISTICS
        enabled: false
      x-deprecation-config:
        degradation-start-date: '2027-01-18'
        shutdown-date: '2027-04-05'
        replacement-operation-id: setOrderBoxLayout
      operationId: setOrderShipmentBoxes
      summary: Передача количества грузовых мест в заказе
      description: "{% include notitle [access](../../_auto/method_scopes/setOrderShipmentBoxes.md) %}\n\nОтгружаемый Маркету\
        \ заказ может не влезть в одну коробку или упаковку — в этом случае получается, что он занимает несколько грузовых\
        \ мест.\n\nКоличество грузовых мест нужно обязательно передавать Маркету, если оно не равно 1. Это делается перед\
        \ переводом его в статус **Готов к отгрузке**. Подробно о том, что в какой момент нужно передавать, рассказано в [пошаговой\
        \ инструкции](../../step-by-step/fbs.md).\n\nМетод устроен немного нестандартно: количество задается длиной массива\
        \ пустых объектов.\n\nРаньше метод требовал передачи большего количества данных. Запросы, оформленные по старому образцу,\
        \ работают, но лучше делать по-новому.\n\n{% cut \"Как было раньше\" %}\n\nСтруктура тела PUT-запроса:\n\n```text\
        \ translate=no\n{\n  \"boxes\":\n  [\n    {\n      \"fulfilmentId\": \"{string}\",\n      \"weight\": {int64},\n \
        \     \"width\": {int64},\n      \"height\": {int64},\n      \"depth\": {int64},\n      \"items\":\n      [\n    \
        \    {\n          \"id\": {int64},\n          \"count\": {int32}\n        },\n        ...\n      ]\n    },\n    ...\n\
        \  ]\n}\n```\n| **Параметр**  | **Тип**  | **Значение**  |\n| ----------- | ----------- | ----------- |\n| `boxes`\
        \       |           | Список грузовых мест.       |\n\n**Параметры, вложенные в `boxes`**\n| **Параметр**  | **Тип**\
        \  | **Значение**  |\n| ----------- | ----------- | ----------- |\n| `fulfilmentId`       |  :no-translate[String]\
        \   | Идентификатор грузового места в системе магазина. Сформируйте идентификатор по шаблону: `номер заказа на Маркете-номер\
        \ грузового места`. Например, `7206821‑1, 7206821‑2` и т. д. |\n| `weight`       | :no-translate[Int64]        | Масса\
        \ брутто грузового места (суммарная масса упаковки и содержимого) в граммах. |\n| `width`       | :no-translate[Int64]\
        \   | Ширина грузового места в сантиметрах.       |\n| `height`       | :no-translate[Int64]   | Высота грузового\
        \ места в сантиметрах.       |\n| `depth`       | :no-translate[Int64]   | Глубина грузового места в сантиметрах.\
        \        |\n| `items`       | :no-translate[Int64]   | Список товаров в грузовом месте.       |\n\n**Параметры, вложенные\
        \ в `items`**\n| **Параметр**  | **Тип**  | **Значение**  |\n| ----------- | ----------- | ----------- |\n| `id` \
        \      | :no-translate[Int64]     | Идентификатор товара в рамках заказа.   |\n| `count`    | :no-translate[Int32]\
        \     | Количество единиц товара в грузовом месте.       |\n\n{% endcut %}\n\n{% include notitle [limit](../../_auto/method_limits/setOrderShipmentBoxes.md)\
        \ %}\n"
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      - $ref: '#/components/parameters/ShipmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderShipmentBoxesRequest'
      responses:
        '200':
          description: Имеет значение только тип ответа. Если ответ `ОК`, количество грузомест записано.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetOrderShipmentBoxesResponse'
        '400':
          $ref: '#/components/responses/400'
          description: Для указанного заказа сейчас нельзя задать количество грузомест, так как у заказа неподходящий статус.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/cancellation/accept:
    put:
      x-resource-id: 137
      tags:
      - orders
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 500
          period: hours
          period-duration: 1
        medium:
          amount: 500
          period: hours
          period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: acceptOrderCancellation
      summary: Отмена заказа покупателем
      description: "{% include notitle [access](../../_auto/method_scopes/acceptOrderCancellation.md) %}\n\nПодтверждает или\
        \ отклоняет заявку покупателя на отмену заказа, который передан службе доставки.\n\nПокупатель может отменить заказ\
        \ в течение его обработки или доставки. Если заказ еще обрабатывается (статус `PROCESSING`), вам не нужно подтверждать\
        \ отмену заказа — он будет отменен автоматически.\n\nЕсли заказ уже передан службе доставки (статус `DELIVERY` или\
        \ `PICKUP`) и пользователь отменил его, вы можете предупредить службу об отмене в течение 48 часов.\n\n  * Служба\
        \ доставки узнала об отмене до передачи заказа покупателю — подтвердите отмену с помощью запроса [PUT v2/campaigns/{campaignId}/orders/{orderId}/cancellation/accept](../../reference/orders/acceptOrderCancellation.md).\n\
        \  * Заказ уже доставлен — отклоните отмену с помощью этого же запроса. Тогда у покупателя останется заказ, и деньги\
        \ за него возвращаться не будут.\n\n**Как узнать об отмененных заказах:**\n\n  * Передайте параметр `onlyWaitingForCancellationApprove`\
        \ в запросе [POST v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md).\n  * В кабинете\
        \ или через почту — на нее придет уведомление об отмене.\n  * Подключите API-уведомления. Маркет отправит вам запрос\
        \ [POST notification](../../push-notifications/reference/sendNotification.md), когда появится новая заявка на отмену\
        \ заказа. [{#T}](../../push-notifications/index.md)\n\nЕсли в течение 48 часов вы не подтвердите или отклоните отмену,\
        \ заказ будет отменен автоматически.\n\n{% include notitle [limit](../../_auto/method_limits/acceptOrderCancellation.md)\
        \ %}\n"
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptOrderCancellationRequest'
      responses:
        '200':
          description: Ответ на отмену заказа был успешно передан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/deliverDigitalGoods:
    post:
      x-resource-id: 129
      tags:
      - orders
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        parallel-limit-value: 6
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-allowed:
      - seller
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: provideOrderDigitalCodes
      summary: Передача ключей цифровых товаров
      description: "{% include notitle [access](../../_auto/method_scopes/provideOrderDigitalCodes.md) %}\n\nПередает ключи\
        \ цифровых товаров, которые покупатель заказал и оплатил. После выполнения запроса Маркет отправит ему письмо с ключами\
        \ и инструкциями по активации. Если письмо будет доставлено, Маркет переведет заказ в финальный статус `DELIVERED`.\n\
        \n{% note tip \"После передачи кода покупателю статус заказа изменится не сразу\" %}\n\nПодключите API-уведомления\
        \ — Маркет отправит вам запрос [POST notification](../../push-notifications/reference/sendNotification.md), когда\
        \ заказ перейдет в статус `DELIVERED`.\n\n[{#T}](../../push-notifications/index.md)\n\n{% endnote %}\n\nКлюч нужно\
        \ передать в течение 30 минут после перехода заказа в статус `PROCESSING`.\n\nЕсли в один заказ входят несколько ключей,\
        \ передавайте их все в одном запросе.\n\nКаждый товар с уникальным `id` передавайте в виде отдельного элемента в массиве\
        \ `items`, а ключи товара — в массиве `codes`.\n\n{% cut \"Пример\" %}\n\n```json translate=no\n{\n  \"items\": [\n\
        \    {\n      \"id\": 1,\n      \"codes\": [\n        \"code1\", \"code2\", \"code3\"\n      ],\n      \"slip\": \"\
        slip\",\n      \"activate_till\": \"2025-02-18\"\n    },\n    {\n      \"id\": 2,\n      \"codes\": [\n        \"\
        code4\", \"code5\", \"code6\"\n      ],\n      \"slip\": \"slip\",\n      \"activate_till\": \"2025-02-18\"\n    }\n\
        \  ]\n}\n```\n{% endcut %}\n\n{% include notitle [limit](../../_auto/method_limits/provideOrderDigitalCodes.md) %}\n"
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvideOrderDigitalCodesRequest'
      responses:
        '200':
          description: 'Пустой ответ.


            {% note warning "Ответ `200` сам по себе не значит, что ключи переданы покупателю" %}


            Если письмо с ключами удалось доставить, Маркет переведет заказ в финальный статус `DELIVERED`.


            Статус заказа можно узнать с помощью метода [POST v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md).


            {% endnote %}

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
        '400':
          description: 'Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/boxes:
    put:
      x-resource-id: 206
      tags:
      - orders
      - fbs
      - express
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-apphost:
        domain: LOGISTICS
        enabled: false
      operationId: setOrderBoxLayout
      summary: Подготовка заказа
      description: "{% include notitle [access](../../_auto/method_scopes/setOrderBoxLayout.md) %}\n\n{% note tip \"Подходит\
        \ и для DBS\" %}\n\nЗапрос предназначен для работы с FBS-заказами, но вы можете использовать его для обработки DBS-заказов,\
        \ если это удобно.\n\n{% endnote %}\n\nПозволяет выполнить три операции:\n\n* передать Маркету информацию о распределении\
        \ товаров по коробкам;\n* передать Маркету коды маркировки для товаров;\n* удалить товар из заказа, если его не оказалось\
        \ на складе.\n\nЕсли нужно что-то поправить в переданных данных, просто повторите запрос — это можно делать сколько\
        \ угодно раз до перевода заказа в статус **Готов к отгрузке**. ⚠️ Если вы меняете раскладку уже после печати и расклейки\
        \ ярлыков, не забудьте перепечатать их и наклеить заново.\n\n{% cut \"Как передать информацию о распределении товаров\"\
        \ %}\n\nВ этом запросе вам нужно передать Маркету список коробок и указать, какие именно товары лежат в каждой из\
        \ них. Коробки могут быть двух типов:\n\n* **Содержащие товары целиком.** Такая коробка может содержать сколько угодно\
        \ единиц любых товаров.\n\n* **Содержащие часть товара.** Такие коробки содержат по одной части одного товара. Например,\
        \ одна содержит внешний блок кондиционера, а другая — внутренний блок.\n\n⚠️ Одна коробка не может содержать и товары\
        \ целиком, и части товаров.\n\n{% endcut %}\n\n{% cut \"Как передавать коды маркировки и получать статус их проверки\"\
        \ %}\n\n{% note info \"Маркировка товаров в системе [«Честный ЗНАК»](https://честныйзнак.рф/) необязательна для заказов\
        \ от физических лиц\" %}\n\nДля заказов от бизнеса все еще нужно передавать коды маркировки.\n\n{% endnote %}\n\n\
        Если в заказе есть товары, подлежащие маркировке, в запросе нужно передать соответствующие уникальные коды. [Что такое\
        \ маркировка](https://yandex.ru/support/marketplace/orders/cz.html)\n\nПринимаются коды следующих типов:\n\n* Коды\
        \ в системе [«Честный ЗНАК»](https://честныйзнак.рф/) или [«ASL BELGISI»](https://aslbelgisi.uz) (для продавцов :no-translate[Market\
        \ Yandex Go]).\n* УИН для ювелирных изделий.\n* РНПТ и ГТД для импортных прослеживаемых товаров.\n\nДля каждой позиции\
        \ в заказе, требующей маркировки, нужно передать список кодов — по одному для каждой единицы товара. Например, если\
        \ в заказе две пары тапочек и одна пара туфель, получится список из двух кодов для первой позиции и список из одного\
        \ кода для второй.\n\nЕсли товар едет в нескольких коробках, код маркировки нужно передать для каждой из них.\n\n\
        {% note warning \"Если вы работаете по модели FBS, EXPRESS\" %}\n\nДля заказов, в которых есть ювелирные изделия или\
        \ товары с маркировкой в системе :no-translate[«Честный ЗНАК»], перевод в статус `READY_TO_SHIP` становится доступен,\
        \ только когда:\n\n1. Вы передадите Маркету :no-translate[УИНы] по каждому ювелирному изделию в заказе и коды в системе\
        \ :no-translate[«Честный ЗНАК»] по всем товарам в заказе, для которых обязательна эта маркировка.\n2. Все коды маркировки\
        \ успешно пройдут проверку. [Как получить статусы проверки](../../reference/orders/getOrderIdentifiersStatus.md)\n\
        \n{% endnote %}\n\n{% endcut %}\n\n{% cut \"Как удалить товар из заказа\" %}\n\nЧтобы удалить товар из заказа:\n\n\
        1. Добавьте в запрос `allowRemove: true`.\n2. Передайте распределение по коробкам без товара, который нужно удалить.\n\
        \n{% note warning \"Удаление нельзя отменить\" %}\n\nЭта операция необратима: покупатель сразу получит уведомление,\
        \ а состав заказа изменится.\n\n{% endnote %}\n\nЧтобы удалить позицию целиком, не передавайте соответствующий `OrderBoxLayoutItemDTO`.\
        \ Чтобы уменьшить количество товара, передайте уменьшенное значение в поле `fullCount`.\n\nНельзя удалить или уменьшить\
        \ количество товара, если он:\n\n* добавлен по акции;\n* составляет 99% стоимости заказа;\n* единственный товар в\
        \ заказе.\n\nЕсли вы не можете отгрузить такой товар, отмените заказ. Для этого отправьте запрос методом [PUT v2/campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md)\
        \ и передайте статус заказа `CANCELLED` с причиной отмены `SHOP_FAILED`.\n\n{% endcut %}\n\n{% note info \"Увеличить\
        \ заказ нельзя\" %}\n\nС помощью запроса нельзя увеличить количество одинаковых товаров, добавить новые товары в заказ\
        \ или заменить один товар другим.\n\n{% endnote %}\n\n## Примеры\n\n{% cut \"Товар умещается в коробку\" %}\n\nВот\
        \ как будет выглядеть запрос, если в одной коробке едут:\n\n  * три единицы одного товара, требующего маркировки;\n\
        \  * одна единица другого товара, не требущего маркировки.\n\n  ```json translate=no\n  {\n      \"boxes\": [\n  \
        \        {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n             \
        \         \"fullCount\": 3,\n                      \"instances\": [\n                          {\n               \
        \               \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          },\n              \
        \            {\n                              \"cis\": \"010304109478gftJ14545762!\\u001dhGt264\"\n              \
        \            },\n                          {\n                              \"cis\": \"010304109478fRs28323ks23!\\\
        u001dhet201\"\n                          }\n                      ]\n                  },\n                  {\n \
        \                     \"id\": 654321,\n                      \"fullCount\": 1\n                  }\n             \
        \ ]\n          }\n      ]\n  }\n  ```\n\n{% endcut %}\n\n{% cut \"Товар едет в разных коробках\" %}\n\nВот как будет\
        \ выглядеть запрос, если товар едет в двух коробках:\n\n  ```json translate=no\n  {\n      \"boxes\": [\n        \
        \  {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n                   \
        \   \"partialCount\": {\n                          \"current\": 1,\n                          \"total\": 2\n     \
        \                 },\n                      \"instances\": [\n                          {\n                      \
        \        \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          }\n                      ]\n\
        \                  }\n              ]\n          },\n          {\n              \"items\": [\n                  {\n\
        \                      \"id\": 123456,\n                      \"partialCount\": {\n                          \"current\"\
        : 2,\n                          \"total\": 2\n                      },\n                      \"instances\": [\n \
        \                         {\n                              \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n \
        \                         }\n                      ]\n                  }\n              ]\n          }\n      ]\n\
        \  }\n  ```\n\n{% endcut %}\n\n{% cut \"Одинаковые товары, где каждый едет в нескольких коробках\" %}\n\nВот как будет\
        \ выглядеть запрос, если каждый из двух одинаковых товаров едет в двух коробках:\n\n  ```json translate=no\n  {\n\
        \      \"boxes\": [\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n\
        \                      \"partialCount\": {\n                          \"current\": 1,\n                          \"\
        total\": 2\n                      },\n                      \"instances\": [\n                          {\n      \
        \                        \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          }\n      \
        \                ]\n                  }\n              ]\n          },\n          {\n              \"items\": [\n\
        \                  {\n                      \"id\": 123456,\n                      \"partialCount\": {\n         \
        \                 \"current\": 2,\n                          \"total\": 2\n                      },\n            \
        \          \"instances\": [\n                          {\n                              \"cis\": \"01030410947874432155Qbag!\\\
        u001d93Zjqw\"\n                          }\n                      ]\n                  }\n              ]\n      \
        \    },\n          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n   \
        \                   \"partialCount\": {\n                          \"current\": 1,\n                          \"total\"\
        : 2\n                      },\n                      \"instances\": [\n                          {\n             \
        \                 \"cis\": \"01030410947874432155Qbag!\\u001d93Zjqw\"\n                          }\n             \
        \         ]\n                  }\n              ]\n          },\n          {\n              \"items\": [\n       \
        \           {\n                      \"id\": 123456,\n                      \"partialCount\": {\n                \
        \          \"current\": 2,\n                          \"total\": 2\n                      },\n                   \
        \   \"instances\": [\n                          {\n                              \"cis\": \"01030410947874432155Qbag!\\\
        u001d93Zjqw\"\n                          }\n                      ]\n                  }\n              ]\n      \
        \    }\n      ]\n  }\n  ```\n\n{% endcut %}\n\n{% cut \"Разные товары в разных коробках\" %}\n\nВот как будет выглядеть\
        \ запрос, если два разных товара разложены по разным коробкам:\n\n  ```json translate=no\n  {\n      \"boxes\": [\n\
        \          {\n              \"items\": [\n                  {\n                      \"id\": 123456,\n           \
        \           \"fullCount\": 1\n                  }\n              ]\n          },\n          {\n              \"items\"\
        : [\n                  {\n                      \"id\": 654321,\n                      \"fullCount\": 1\n        \
        \          }\n              ]\n          }\n      ]\n  }\n  ```\n\n{% endcut %}\n\n{% include notitle [limit](../../_auto/method_limits/setOrderBoxLayout.md)\
        \ %}\n"
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderBoxLayoutRequest'
      responses:
        '200':
          description: 'В ответ придет переданная раскладка с идентификаторами коробок — они понадобятся для запроса ярлыков.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetOrderBoxLayoutResponse'
        '400':
          description: 'Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/external-id:
    post:
      x-resource-id: 255
      tags:
      - orders
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 1000
          period: hours
          period-duration: 1
        medium:
          amount: 1000
          period: hours
          period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: updateExternalOrderId
      summary: Передача внешнего идентификатора заказа
      description: '{% include notitle [access](../../_auto/method_scopes/updateExternalOrderId.md) %}


        Передает Маркету идентификатор заказа в системе магазина.


        Его нельзя передавать:


        * больше одного раза;

        * после перехода заказа в статус `PROCESSING` с подстатусом `READY_TO_SHIP`.


        Этот идентификатор отражается в документах отгрузки: акте приема-передачи, листе сборки и ярлыках.


        {% note alert "В штрихкодах могут быть только символы ASCII" %}


        Если во внешнем идентификаторе вы используете другие символы, на ярлыке в штрихкоде будет отображаться идентификатор
        заказа Маркета.


        {% endnote %}


        {% include notitle [limit](../../_auto/method_limits/updateExternalOrderId.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExternalOrderIdRequest'
      responses:
        '200':
          description: Внешний идентификатор заказа успешно передан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
        '400':
          description: 'Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/identifiers/status:
    post:
      x-resource-id: 259
      tags:
      - orders
      - fbs
      - express
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 1000
          period: hours
          period-duration: 1
        medium:
          amount: 1000
          period: hours
          period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: getOrderIdentifiersStatus
      summary: Статусы проверки кодов маркировки
      description: "{% include notitle [access](../../_auto/method_scopes/getOrderIdentifiersStatus.md) %}\n\nВозвращает статусы\
        \ проверки кодов маркировки в заказе.\n\nЗаказ, в котором есть ювелирные изделия или товары с обязательной маркировкой\
        \ в системе [«Честный ЗНАК»](https://честныйзнак.рф/), можно перевести в статус `READY_TO_SHIP`, только когда:\n\n\
        1. В методе [PUT v2/campaigns/{campaignId}/orders/{orderId}/boxes](../../reference/orders/setOrderBoxLayout.md) вы\
        \ передадите Маркету:\n\n    * [УИНы](:no-translate[*uin]) по каждому ювелирному изделию в заказе;\n\n    * коды маркировки\
        \ в системе :no-translate[«Честный ЗНАК»] по всем товарам в заказе, для которых она обязательна.\n2. Все коды маркировки\
        \ успешно пройдут проверку.\n\n{% include notitle [limit](../../_auto/method_limits/getOrderIdentifiersStatus.md)\
        \ %}\n"
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Информация по проверке кодов маркировки.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderIdentifiersStatusResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v1/campaigns/{campaignId}/orders/create:
    post:
      x-resource-id: 269
      tags:
      - orders
      - laas
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-allowed:
      - seller
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: createOrder
      summary: Создание заказа
      description: '{% include notitle [access](../../_auto/method_scopes/createOrder.md) %}


        Создает новый заказ, если на складе Маркета есть нужное количество товаров.


        Укажите `courierDelivery` для курьерской доставки или `pickupDelivery` для доставки в пункт выдачи. Не передавайте
        оба параметра одновременно.


        Значение параметра `draft`:


        * `true` — Маркет создаст заказ в статусе `RESERVED` и будет ждать подтверждения от магазина. Когда будете готовы,
        передайте статус `PROCESSING` с подстатусом `STARTED` в методе [PUT v2/campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md).
        Если не сделать это в течение часа после создания заказа, Маркет отменит его.

        * `false` — Маркет создаст заказ в статусе `PROCESSING` с подстатусом `STARTED`, подтверждение не требуется.


        Значение параметра `fake`:


        * `true` — тестовый заказ. Позволяет проверить работу магазина и его API на [тестовых заказах](../../concepts/sandbox.md).
        Такой заказ не будет отгружен и не влияет на остатки.

        * `false` — настоящий заказ.


        {% note warning "Перед вызовом метода" %}


        Получите доступные варианты доставки — [POST v2/campaigns/{campaignId}/delivery-options](../../reference/delivery-options/getDeliveryOptions.md).


        {% endnote %}


        {% include notitle [limit](../../_auto/method_limits/createOrder.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '200':
          description: Информация о созданных заказах.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
        '400':
          $ref: '#/components/responses/400Orders'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v1/campaigns/{campaignId}/orders/update:
    post:
      x-resource-id: 273
      tags:
      - orders
      - laas
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-allowed:
      - seller
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: updateOrder
      summary: Изменение заказа
      description: '{% include notitle [access](../../_auto/method_scopes/updateOrder.md) %}


        Изменяет в заказе:


        * данные получателя;

        * интервал дат курьерской доставки.


        Передавайте только ту информацию, которую хотите изменить. При необходимости вы можете отредактировать и данные получателя,
        и интервал доставки одновременно.


        Заказ можно изменить в любом статусе до вручения покупателю или отмены (`DELIVERED` или `CANCELLED`).


        {% note info "Данные заказа обновляются не мгновенно" %}


        Изменения применяются в течение нескольких минут и только в случае успешного завершения операции. [Как проверить статус
        операции](../../reference/operations/getOperations.md)


        {% endnote %}


        {% include notitle [limit](../../_auto/method_limits/updateOrder.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequest'
      responses:
        '200':
          description: 'Информация об операции по изменению заказа.


            {% note warning "Ответ `200` не значит, что данные изменены" %}


            При успешном выполнении запроса это произойдет через некоторое время. [Как проверить статус операции](../../reference/operations/getOperations.md)


            {% endnote %}

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrderResponse'
        '400':
          $ref: '#/components/responses/400Orders'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v1/campaigns/{campaignId}/orders/update-options:
    post:
      x-resource-id: 280
      tags:
      - orders
      - laas
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-resource-limit-config:
        path: resp
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-allowed:
      - seller
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: getOrderUpdateOptions
      summary: Получение временных интервалов для изменения заказа
      description: '{% include notitle [access](../../_auto/method_scopes/getOrderUpdateOptions.md) %}


        Возвращает список доступных интервалов для изменения даты и времени курьерской доставки.


        {% include notitle [limit](../../_auto/method_limits/getOrderUpdateOptions.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrderUpdateOptionsRequest'
      responses:
        '200':
          description: Список доступных интервалов.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderUpdateOptionsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/delivery/date:
    put:
      x-resource-id: 138
      tags:
      - order-delivery
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-apphost:
        domain: LOGISTICS
        enabled: false
      operationId: setOrderDeliveryDate
      summary: Изменение даты доставки заказа
      description: '{% include notitle [access](../../_auto/method_scopes/setOrderDeliveryDate.md) %}


        Метод изменяет дату доставки заказа в статусе `PROCESSING` или `DELIVERY`. Для заказов с другими статусами дату доставки
        изменить нельзя.


        {% include notitle [limit](../../_auto/method_limits/setOrderDeliveryDate.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderDeliveryDateRequest'
      responses:
        '200':
          description: Успешное изменение даты доставки.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
        '400':
          description: 'Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/delivery/track:
    post:
      x-resource-id: 136
      tags:
      - order-delivery
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-allowed:
      - seller
      x-resource-limit-config:
        path: resp
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-apphost:
        domain: LOGISTICS
        enabled: false
      operationId: setOrderDeliveryTrackCode
      summary: Передача трек‑номера посылки
      description: '{% include notitle [access](../../_auto/method_scopes/setOrderDeliveryTrackCode.md) %}


        Передает Маркету трек‑номер, по которому покупатель может отследить посылку со своим заказом через службу доставки.
        Если покупатели смогут узнать, на каком этапе доставки находятся их заказы, доверие покупателей к вашему магазину
        может возрасти.


        Передать трек‑номер можно, только если заказ находится в статусе `PROCESSING`, `DELIVERY` или `PICKUP`.


        {% include notitle [limit](../../_auto/method_limits/setOrderDeliveryTrackCode.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOrderDeliveryTrackCodeRequest'
      responses:
        '200':
          description: Трек‑номер посылки и идентификатор службы доставки были успешно переданы.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
        '400':
          description: 'Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/buyer:
    get:
      x-resource-id: 130
      tags:
      - order-delivery
      - dbs
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 3000
          period: hours
          period-duration: 1
        medium:
          amount: 3000
          period: hours
          period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: getOrderBuyerInfo
      summary: Информация о покупателе — физическом лице
      description: '{% include notitle [access](../../_auto/method_scopes/getOrderBuyerInfo.md) %}


        Возвращает информацию о покупателе по идентификатору заказа.


        {% note info "Как получить информацию о покупателе, который является юридическим лицом" %}


        Воспользуйтесь запросом [POST v2/campaigns/{campaignId}/orders/{orderId}/business-buyer](../../reference/order-business-information/getOrderBusinessBuyerInfo.md).


        {% endnote %}


        Получить данные можно, только если заказ находится в статусе `PROCESSING`, `DELIVERY` или `PICKUP`.


        {% include notitle [limit](../../_auto/method_limits/getOrderBuyerInfo.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Информация о покупателе.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderBuyerInfoResponse'
        '400':
          description: 'Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/verifyEac:
    put:
      x-resource-id: 164
      tags:
      - order-delivery
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: verifyOrderEac
      summary: Передача кода подтверждения
      description: "{% include notitle [access](../../_auto/method_scopes/verifyOrderEac.md) %}\n\nОтправляет Маркету код\
        \ подтверждения для его проверки.\n\n**Если у магазина настроена работа с кодами подтверждения:**\n\n  В параметре\
        \ `delivery`, вложенном в `order`, возвращается параметр `eacType` с типом `Enum` (тип кода подтверждения для передачи\
        \ заказа) в методах:\n\n  * [POST v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md);\n\
        \  * [PUT v2/campaigns/{campaignId}/orders/{orderId}/status](../../reference/orders/updateOrderStatus.md).\n\n  Возможные\
        \ значения:\n\n  * `MERCHANT_TO_COURIER` (временно не возвращается) — продавец передает код курьеру для получения\
        \ невыкупа;\n  * `COURIER_TO_MERCHANT` — курьер передает код продавцу для получения заказа.\n\n  Параметр `eacType`\
        \ возвращается при статусах заказа `COURIER_FOUND`, `COURIER_ARRIVED_TO_SENDER` и `DELIVERY_SERVICE_UNDELIVERED`.\
        \ Если заказ в других статусах, параметр может отсутствовать.\n\n{% include notitle [limit](../../_auto/method_limits/verifyOrderEac.md)\
        \ %}\n"
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyOrderEacRequest'
      responses:
        '200':
          description: Проверка кода выполнена успешно.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyOrderEacResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/delivery/storage-limit:
    put:
      x-resource-id: 154
      tags:
      - order-delivery
      - dbs
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-apphost:
        domain: LOGISTICS
        enabled: false
      operationId: updateOrderStorageLimit
      summary: Продление срока хранения заказа
      description: '{% include notitle [access](../../_auto/method_scopes/updateOrderStorageLimit.md) %}


        Продлевает срок хранения заказа в пункте выдачи продавца.


        Заказ должен быть в статусе `PICKUP`. Продлить срок можно только один раз, не больше чем на 30 дней.


        Новый срок хранения можно получить в параметре `outletStorageLimitDate` в ответе метода [POST v1/businesses/{businessId}/orders](../../reference/orders/getBusinessOrders.md).


        {% include notitle [limit](../../_auto/method_limits/updateOrderStorageLimit.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStorageLimitRequest'
      responses:
        '200':
          description: Пустой ответ.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyApiResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/delivery/shipments/{shipmentId}/boxes/{boxId}/label:
    get:
      x-resource-id: 118
      tags:
      - order-labels
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-apphost:
        domain: LOGISTICS
        enabled: false
      operationId: generateOrderLabel
      summary: Готовый ярлык‑наклейка для коробки в заказе
      description: '{% include notitle [access](../../_auto/method_scopes/generateOrderLabel.md) %}


        Формирует ярлык‑наклейку для коробки в заказе и возвращает ярлык в PDF‑файле.


        Чтобы на ярлыке отображался внешний идентификатор заказа, передайте его в методе [POST v2/campaigns/{campaignId}/orders/{orderId}/external-id](../../reference/orders/updateExternalOrderId.md).


        {% include notitle [limit](../../_auto/method_limits/generateOrderLabel.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      - $ref: '#/components/parameters/ShipmentId-2'
      - $ref: '#/components/parameters/BoxId'
      - $ref: '#/components/parameters/PageFormat'
      responses:
        '200':
          description: PDF‑файл с ярлыками для коробки. Файл содержит одну страницу с ярлыком.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/delivery/labels:
    get:
      x-resource-id: 119
      tags:
      - order-labels
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - inventory-and-order-processing
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-apphost:
        domain: LOGISTICS
        enabled: false
      operationId: generateOrderLabels
      summary: Готовые ярлыки‑наклейки на все коробки в одном заказе
      description: '{% include notitle [access](../../_auto/method_scopes/generateOrderLabels.md) %}


        Возвращает PDF-файл с ярлыками, которые нужно наклеить на коробки перед отгрузкой. Подробно о том, зачем они нужны
        и как выглядят, рассказано [в Справке Маркета для продавцов](https://yandex.ru/support/marketplace/orders/fbs/packaging/marking.html).


        На вход нужно передать идентификатор заказа и один необязательный параметр, который управляет версткой PDF-файла.


        Чтобы на ярлыке отображался внешний идентификатор заказа, передайте его в методе [POST v2/campaigns/{campaignId}/orders/{orderId}/external-id](../../reference/orders/updateExternalOrderId.md).


        {% include notitle [limit](../../_auto/method_limits/generateOrderLabels.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      - $ref: '#/components/parameters/PageFormat'
      responses:
        '200':
          description: PDF‑файл с ярлыками на все коробки.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/delivery/labels/data:
    get:
      x-resource-id: 120
      tags:
      - order-labels
      - fbs
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      x-resource-limit-config:
        path: resp
        none:
          amount: 10000
          period: hours
          period-duration: 1
        medium:
          amount: 10000
          period: hours
          period-duration: 1
      x-allowed:
      - seller
      x-apphost:
        domain: LOGISTICS
        enabled: false
      operationId: getOrderLabelsData
      summary: Данные для самостоятельного изготовления ярлыков
      description: '{% include notitle [access](../../_auto/method_scopes/getOrderLabelsData.md) %}


        Возвращает информацию на ярлыках, которые клеятся на коробки в заказе.


        {% include notitle [limit](../../_auto/method_limits/getOrderLabelsData.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Информация для печати ярлыков.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderLabelsDataResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/business-buyer:
    post:
      x-resource-id: 214
      tags:
      - order-business-information
      - fbs
      - fby
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 3000
          period: hours
          period-duration: 1
        medium:
          amount: 3000
          period: hours
          period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: getOrderBusinessBuyerInfo
      summary: Информация о покупателе — юридическом лице
      description: '{% include notitle [access](../../_auto/method_scopes/getOrderBusinessBuyerInfo.md) %}


        Возвращает информацию о покупателе по идентификатору заказа.


        {% note info "Как получить информацию о покупателе, который является физическим лицом" %}


        Воспользуйтесь запросом [GET v2/campaigns/{campaignId}/orders/{orderId}/buyer](../../reference/order-delivery/getOrderBuyerInfo.md).


        {% endnote %}


        Получить данные можно, только если заказ находится в статусе `PROCESSING`, `DELIVERY`, `PICKUP` или `DELIVERED`.


        {% include notitle [limit](../../_auto/method_limits/getOrderBusinessBuyerInfo.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Информация о покупателе.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessBuyerInfoResponse'
        '400':
          description: 'Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/documents:
    post:
      x-resource-id: 215
      tags:
      - order-business-information
      - fbs
      - fby
      - dbs
      - express
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 3000
          period: hours
          period-duration: 1
        medium:
          amount: 3000
          period: hours
          period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: getOrderBusinessDocumentsInfo
      summary: Информация о документах
      description: '{% include notitle [access](../../_auto/method_scopes/getOrderBusinessDocumentsInfo.md) %}


        Возвращает информацию о документах по идентификатору заказа.


        Получить данные можно после того, как заказ перейдет в статус `DELIVERED`.


        {% include notitle [limit](../../_auto/method_limits/getOrderBusinessDocumentsInfo.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Информация о документах.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessDocumentsInfoResponse'
        '400':
          description: 'Запрос содержит неправильные данные. [Подробнее об ошибках при работе с заказами](../../concepts/error-codes#orders)

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientDataErrorResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/returns:
    get:
      x-resource-id: 148
      tags:
      - returns
      - fbs
      - dbs
      - express
      - fby
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 5000
          period: hours
          period-duration: 1
        medium:
          amount: 5000
          period: hours
          period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: getReturns
      summary: Список невыкупов и возвратов
      description: '{% include notitle [access](../../_auto/method_scopes/getReturns.md) %}


        Получает список невыкупов и возвратов.


        Чтобы получить информацию по одному невыкупу или возврату, выполните запрос [GET v2/campaigns/{campaignId}/orders/{orderId}/returns/{returnId}](../../reference/returns/getReturn.md).


        {% note tip "Подключите API-уведомления" %}


        Маркет отправит вам запрос [POST notification](../../push-notifications/reference/sendNotification.md), когда появится
        новый невыкуп или возврат.


        [{#T}](../../push-notifications/index.md)


        {% endnote %}


        {% include notitle [limit](../../_auto/method_limits/getReturns.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
      - $ref: '#/components/parameters/AliasedPageToken'
      - $ref: '#/components/parameters/PageLimit100Truncate'
      - description: 'Идентификаторы заказов — для фильтрации результатов.


          Несколько идентификаторов перечисляются через запятую без пробела.

          '
        in: query
        name: orderIds
        required: false
        schema:
          type: array
          maxItems: 50
          uniqueItems: true
          items:
            type: integer
            format: int64
            example: 123543
      - description: 'Фильтр по статусам возврата денег за возвраты.


          Несколько статусов перечисляются через запятую.

          '
        in: query
        name: statuses
        required: false
        example:
        - STARTED_BY_USER
        - WAITING_FOR_DECISION
        schema:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/RefundStatusType'
      - description: 'Фильтр по логистическим статусам невыкупов и возвратов.


          Несколько статусов перечисляются через запятую.

          '
        in: query
        name: shipmentStatuses
        required: false
        example:
        - READY_FOR_PICKUP
        - IN_TRANSIT
        schema:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ReturnShipmentStatusType'
      - description: 'Тип заказа для фильтрации:


          * `UNREDEEMED` — невыкуп.


          * `RETURN` — возврат.


          Если не указать, в ответе будут и невыкупы, и возвраты.

          '
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/ReturnType'
      - description: 'Начальная дата для фильтрации невыкупов или возвратов по дате обновления.


          Формат: `ГГГГ-ММ-ДД`.

          '
        in: query
        name: fromDate
        required: false
        example: '2022-10-31'
        schema:
          type: string
          format: date
      - description: 'Конечная дата для фильтрации невыкупов или возвратов по дате обновления.


          Формат: `ГГГГ-ММ-ДД`.

          '
        in: query
        name: toDate
        required: false
        example: '2022-11-30'
        schema:
          type: string
          format: date
      - description: '{% note warning "Вместо него используйте `fromDate`." %}


           


          {% endnote %}


          Начальная дата для фильтрации невыкупов или возвратов по дате обновления.

          '
        deprecated: true
        in: query
        name: from_date
        required: false
        example: '2022-10-31'
        schema:
          type: string
          format: date
      - description: '{% note warning "Вместо него используйте `toDate`." %}


           


          {% endnote %}


          Конечная дата для фильтрации невыкупов или возвратов по дате обновления.

          '
        deprecated: true
        in: query
        name: to_date
        required: false
        example: '2022-11-30'
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Постраничные невыкупы или возвраты магазина.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReturnsResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '420':
          $ref: '#/components/responses/420'
        '500':
          $ref: '#/components/responses/500'
  /v2/campaigns/{campaignId}/orders/{orderId}/returns/{returnId}:
    get:
      x-resource-id: 159
      tags:
      - returns
      - fbs
      - dbs
      - express
      - fby
      - laas
      x-auth-scopes:
      - all-methods
      - all-methods:read-only
      - inventory-and-order-processing
      - inventory-and-order-processing:read-only
      x-allowed:
      - seller
      - market-yandex-go
      x-resource-limit-config:
        path: resp
        none:
          amount: 7000
          period: hours
          period-duration: 1
        medium:
          amount: 7000
          period: hours
          period-duration: 1
      x-apphost:
        domain: ORDERS
        enabled: false
      operationId: getReturn
      summary: Информация о невыкупе или возврате
      description: '{% include notitle [access](../../_auto/method_scopes/getReturn.md) %}


        Получает информацию по одному невыкупу или возврату.


        {% note tip "Подключите API-уведомления" %}


        Маркет отправит вам запрос [POST notification](../../push-notifications/reference/sendNotification.md), когда появится
        новый невыкуп или возврат.


        [{#T}](../../push-notifications/index.md)


        {% endnote %}


        {% include notitle [limit](../../_auto/method_limits/getReturn.md) %}

        '
      parameters:
      - $ref: '#/components/parameters/CampaignId'
[...]
